body {
    background: rgb(16, 16, 16);
}
.container-custom {
    max-width: 1400px;
}
/* Header style*/
header {
    margin-bottom: 16px;
}
header .navbar {
    border-radius: 16px;
    background: rgb(32, 32, 32);
    color: rgb(128, 128, 128);
    text-wrap: nowrap;
}
header .navbar li {
    list-style: none;
}
header .navbar form {
    max-width: 671px;
    width: 100%;
    position: relative;
    height: 48px;
    border-radius: 8px;
    background: rgb(64, 64, 64);
    display: flex;
    align-items: center;
}
header .navbar form input {
    background: rgb(64, 64, 64);
    outline: none;
    border: none;
    color: rgb(128, 128, 128);
}
header .navbar form input:focus {
    background: rgb(64, 64, 64);
    outline: none;
    box-shadow: none;
    border: none;
    color: rgb(128, 128, 128);
    text-wrap: nowrap;
}
header .navbar form button {
    position: absolute;
    right: 5px;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    background: rgb(32, 32, 32);
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}
header .navbar form button:hover {
    background: #fff;
}
.categories-item {
    display: flex;
    gap: 17px;
}
.categories-item img {
    max-width: 18px;
    max-height: 12px;
}
.promotion a {
    color: rgb(92, 186, 72);
}
.navbar-collapse {
    flex-grow: 0;
}
.controls-container {
    margin-bottom: 15px;
}

.controls-container a {
    margin-right: 32px;
    color: rgb(64, 64, 64);
    text-decoration: none;
    font-size: 14px;
}
.controls-container .theme-control {
    margin-right: 16px;
}

.controls-container input[type="checkbox"] {
    display: none;
}

.controls-container #button {
    position: relative;
    display: block;
    width: 64px;
    height: 32px;
    background-color: rgb(32, 32, 32);
    border-radius: 8px;
    cursor: pointer;
}

.controls-container #knob {
    width: 32px;
    height: 30px;
    background: rgb(64, 64, 64);
    background-size: 32px;
    position: relative;
    top: 1px;
    left: 0px;
    border-radius: 8px;
    transition: 0.4s ease left, 0.4s ease background-position;
    z-index: 2;
}

.controls-container #subscribe,
#alright {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 8px;
    z-index: 3;
}

.controls-container #alright {
    margin-left: 40px;
}

.controls-container #lol-checkbox:checked + #button #knob {
    left: 32px;
}

/*-------------- HERO*/
.hero{
    margin-bottom: 32px;
}
.hero .hero-subtitle {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
}
.hero .hero-subtitle p {
    color: rgb(255, 255, 255);
    font-family: Rubik;
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: center;
}
.hero-img-container {
    border-radius: 16px;
}
.hero-img-container img {
    width: 100%;
}
/* Text Section */
.text-section{
    margin-bottom: 32px;
}
.text-section p{
    color: rgb(255, 255, 255);
    font-family: Rubik;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: center;
}

/* Cards Section */
.cards-section{
    margin-bottom: 170px;
}
.card{
    border-radius: 16px;
    background: rgb(32, 32, 32);
}
.card-body{
    display: flex;
    gap:25px;
    color:#fff;
    justify-content: space-around;
    padding: 32px 30px;
}
.card-item{
    flex: 0 0 350px;
}
.item-second{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: radial-gradient(50.00% 50.00% at 50% 50%,rgba(255, 109, 0, 0.6),rgba(32, 32, 32, 0) 100%);
    background-repeat: no-repeat;
}

.icon-plus{
    display: flex;
    justify-content: center;
    align-items: center;
}
.item-third{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.prod-title{
    font-family: Rubik;
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: left;
}
.prod-gift-title{
    font-family: Rubik;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: left;
}
.prod-price{
    font-family: Rubik;
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 16px;
}
.prod-type{
    display:flex;
    gap: 32px;
}
.type-title{
color: rgb(128, 128, 128);
font-family: Rubik;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
display: block;
margin-bottom: 12px;
}
.colors{
    display: flex;
    gap: 8px;
}
.color-item{
    width: 24px;
    height: 24px;
    border-radius: 50%;
}
.color-item.active{
    border: 2px solid rgb(255, 255, 255);
}
.color-1{
    background: rgb(112, 61, 102);
}
.color-2{
    background: rgb(0, 0, 0);
}
.color-3{
background: rgb(237, 195, 99);
}
.color-4{
    background: rgb(170, 169, 173);
}
.memory{
    display: flex;
    gap:8px;
}
.memory-item{
    border-radius: 8px;
    background: rgb(64, 64, 64);
    color: rgb(128, 128, 128);
    font-family: Rubik;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    display: block;
    padding: 4px 14px;
}
.memory-item.active{
    background: rgb(128, 128, 128);
    color:#fff;
}

.prod-addon .plus-icon{
    margin-bottom: 16px;
}

.buy-section button{
    border-radius: 8px;
    background: rgb(244, 118, 33);
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 228px;
    width: 100%;
    height: 48px;
    color: rgb(255, 255, 255);
    font-family: Rubik;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: center;
    border: none;
}

/*newsletter*/
.newsletter {
margin-bottom: 35px;
}
.first-item{
    display: flex;
    align-items: center;
    text-align: left;
    color: rgb(255, 255, 255);
    font-family: Rubik;
    font-size: 48px;
    font-weight: 600;
    line-height: 57px;
    letter-spacing: 0%;
    text-align: left;
    max-width: 375px;
    width: 100%;
}
.newsletter-title{
    color: rgb(255, 255, 255);
    font-family: Rubik;
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 8px;
    display: block;
}
.third-item p{
    color: rgb(255, 255, 255);
    font-family: Rubik;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 16px;
    max-width: 400px;
}
.input-block{
    gap: 8px;
    margin-bottom: 16px;
}
.input-block input{
    border-radius: 8px;
    background: rgb(64, 64, 64);
    color: rgb(128, 128, 128);
    font-family: Rubik;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0%;
    text-align: left;
    outline: none;
    border: none;
    width: 100%;
    height: 48px;
}

.input-block input:focus {
    background: rgb(64, 64, 64);
    outline: none;
    box-shadow: none;
    border: none;
    color: rgb(128, 128, 128);
    text-wrap: nowrap;
}
.newsletter-form{
    margin-bottom: 16px;
}
.submit-form-block{
    justify-content: space-between;
    align-items: center;
}
.submit-form-block .submit-btn{
    border-radius: 8px;
    background: rgb(28, 113, 185);
    color: rgb(255, 255, 255);
    font-family: Rubik;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0%;
    text-align: left;
    max-width:150px;
    width: 100%;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    border:none;
}

.social-links{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-bottom: 35px;
}
.round {
    position: relative;
    padding-left: 15px;
    color: rgb(255, 255, 255);
    font-family: Rubik;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0%;
    text-align: left;
  }
  
  .round label {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
    height: 24px;
    left: 0;
    position: absolute;
    top: 0;
    width: 24px;
  }
  
  .round label:after {
    border: 2px solid #fff;
    border-top: none;
    border-right: none;
    content: "";
    height: 8px;
    left: 6px;
    opacity: 0;
    position: absolute;
    top: 5px;
    transform: rotate(-45deg);
    width: 13px;
  }
  
  .round input[type="checkbox"] {
    visibility: hidden;
  }
  
  .round input[type="checkbox"]:checked + label {
    background-color: rgb(28, 113, 185);
    border-color: rgb(28, 113, 185);
  }
  
  .round input[type="checkbox"]:checked + label:after {
    opacity: 1;
  }
/*footer*/
footer a{
color: rgb(128, 128, 128);
font-family: Rubik;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
}

footer a:hover{
    text-decoration: underline;
}
footer h5{
    color: rgb(128, 128, 128);
    font-family: Rubik;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}
footer.row{
    --bs-gutter-x:0 !important; 
}
footer.border-top{
border-top: 1px solid rgb(64, 64, 64) !important;
}